*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    position: absolute;
    left: 124px;
    width: 1117px;
    height: 115px;
    border-bottom: 2px solid #E6E6E6;
}
#navLogo{
    text-decoration: none;
}
#navLogo img {
    transform: translateY(30px) translateX(100px);
    width: 210px;
    height: 50px;
}
.phone_numberOne{
    position: absolute;
    transform: translateX(650px) translateY(35px);
    text-decoration: none;
    color: #E83A2D;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.phone_numberTwo{
    position: absolute;
    transform: translateX(650px) translateY(70px);
    text-decoration: none;
    color: #E83A2D;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.navBottom{
    position: absolute;
    left: 124px;
    width: 1117px;
    height: 28px;
    border-bottom: 1px solid #E6E6E6;
    transform: translateY(120px);
    font-family: 'Roboto', sans-serif;
}
.nav_bottom{
    transform: translateX(0px);
}
.nav_bottom > span > a{
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.header{
    position: absolute;
    width: 1200px;
    height: 400px;
    border: 2px solid red;
    left: 83px;
    top: 200px;
    background-size: contain;
    background: #202737;
    opacity: 0.7;
}
.header > h2{
    position: absolute;
    transform: translateX(180px) translateY(60px);
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}
.header > p{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #E6E6E6;
    transform: translateX(180px) translateY(260px);
}
#btnSearch{
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    width: 337.32px;
    height: 63.29px;
    background: #FFFFFF;
    border-radius: 13.0492px;
    padding-left: 25px;
    font-size: 18px;
    transform: translateX(180px) translateY(300px);
}
#btnSend{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    position: absolute;
    width: 207.48px;
    height: 63.29px;
    background: #E83A2D;
    border-radius: 13.0492px;
    transform: translateX(200px) translateY(300px);
}
.main{
    transform: translateY(650px);
    width: 100%;
    height: 300px;
    background: #EFF2F8;
}
.main > h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35.8853px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    transform: translateY(20px);
}
.main > p{
    width: 950px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    line-height: 2rem;
    transform: translateX(250px) translateY(50px);
}
.wrapper > h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    transform: translateY(750px);
}
.wrapper > p{
    font-weight: 700;
    font-size: 20px;
    width: 500px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    transform: translateY(777px) translateX(250px);
}
.div1{
    position: absolute;
    width: 950px;
    height: 175px;
    border: 1px solid #C4C9D5;
    transform: translateY(780px) translateX(250px);
}
.div1 > p{
    width: 800px;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    transform: translateX(220px) translateY(-30px);
}
.div2{
    position: absolute;
    width: 950px;
    height: 175px;
    border: 1px solid #C4C9D5;
    transform: translateY(983px) translateX(250px);
}
.div2 > p{
    width: 800px;
    font-weight: 400;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #000000;
    transform: translateX(220px) translateY(-30px);
}
.div3{
    position: absolute;
    width: 950px;
    height: 175px;
    border: 1px solid #C4C9D5;
    transform: translateY(1193px) translateX(250px);
}
.div3 > p{
    width: 800px;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    transform: translateX(220px) translateY(-30px);
}
.main_header{
    width: 100%;
}
.main_header > h2{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #000000;
    transform: translateY(1500px);
    font-family: 'Roboto', sans-serif;
}
.main_header > p{
    width: 900px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    transform: translate( 250px ,1550px);
    font-family: 'Roboto', sans-serif;
}
.section{
    transform: translateY(1700px);
}
.sectionDiv1{
    width: 950px;
    height: 191px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 20px;
    transform: translateX(250px);
}
.sectionDiv1 > p{
    width: 800px;
    transform: translateX(200px) translateY(-25px);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.sectionDiv2{
    width: 950px;
    height: 191px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 20px;
    transform: translateX(250px) translateY(30px);
}
.sectionDiv2 > p{
    width: 800px;
    transform: translateX(200px) translateY(-25px);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.sectionDiv3{
    width: 950px;
    height: 325px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 20px;
    transform: translateX(250px) translateY(60px);
}
.sectionDiv3 > p{
    width: 800px;
    transform: translateX(200px) translateY(-25px);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.DivsMain{
    transform: translateY(1800px);
}
.DivsMain > h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    transform: translateY(20px);
    font-family: 'Roboto', sans-serif;
}
.boxOne{
    transform: translateX(250px) translateY(50px);
    width: 950px;
    height: 116px;
    border: 1px solid #C4C9D5;
}
.boxTwo{
    transform: translateX(250px) translateY(80px);
    width: 950px;
    height: 140px;
    border: 1px solid #C4C9D5;
}
.boxOne > h3{
    transform: translate(40px , 40px);
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #5374CA;
    font-family: 'Roboto', sans-serif;
}
.boxOne > p{
    transform: translateX(300px) translateY(10px);
    font-weight: 400;
    width: 700px;
    font-size: 22px;
    line-height: 26px;
    color: #000000;;
    font-family: 'Roboto', sans-serif;
}
.boxTwo > h3{
    transform: translate(40px , 40px);
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #5374CA;
    font-family: 'Roboto', sans-serif;
}
.boxTwo > p{
    transform: translateX(300px) translateY(10px);
    font-weight: 400;
    width: 700px;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.npm{
    width: 900px;
    transform: translateY(120px) translateX(250px);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.box4{
    transform: translateY(200px) translateX(250px);
    width: 900px;
    height: 75px;
    border: 1px solid #C4C9D5;  
}
.box5{
    transform: translateY(220px) translateX(250px);
    width: 900px;
    height: 75px;
    border: 1px solid #C4C9D5;  
}
.box6{
    transform: translateY(240px) translateX(250px);
    width: 900px;
    height: 75px;
    border: 1px solid #C4C9D5;  
}
.mainBoxes{
    width: 100%;
    transform: translateY(350px);
}
.mainBoxes > h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.dvm1{
    transform: translateX(250px) translateY(50px);
    width: 900px;
    height: 135px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
}
.dvm2{
    transform: translateX(250px) translateY(70px);
    width: 900px;
    height: 135px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
}
.dvm3{
    transform: translateX(250px) translateY(90px);
    width: 900px;
    height: 135px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
}
.dvm4{
    transform: translateX(250px) translateY(110px);
    width: 900px;
    height: 135px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
}
.dvm5{
    transform: translateX(250px) translateY(130px);
    width: 900px;
    height: 135px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
}
.dvm6{
    transform: translateX(250px) translateY(150px);
    width: 900px;
    height: 135px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
}
.sircle{
    transform: translate(40px , 25px);
    width: 80px;
    height: 80px;
    background: #5374ca;
    border-radius: 50%;
}
.sircle > img{
    transform: translate(20px , 20px);
}
#btnnaverx{
    background: none;
    box-sizing: border-box;
    transform: translateY(240px) translateX(475px);
    width: 395px;
    height: 79px;
    border: 2px solid #5374CA;
    color: #5374ca;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
}
.prove{
    width: 424px;
    height: 180px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 2px 26px #E6E8ED;
    border-radius: 19px;
    transform: translateY(320px) translateX(455px);
}
#btnDow{
    color:#ffff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    width: 238px;
    height: 34px;
    background: linear-gradient(0deg, #5374CA, #5374CA);
    border-radius: 19px;
    transform: translateY(81px) translateX(92px);
}